{% extends "base.html" %}

{% block content %}
<div class="center">
  Sort by: <a href="/?order_by=title">A-Z</a> | <a href="/?order_by=date">Date</a> | <a href="/?order_by=rating">Rating</a>
</div>
<div class="grid">
  {% for review in reviews %}
    <a href="reviews/{{review.slug}}" class="review-card-link">
      <div class="review-card">
        <img src="{{review.img_url}}" alt="Cannoli Thumbnail" width="323px" height="auto">
        <div class="rating-badge" style="top: 30px; right: 24px; background-color: {{review.badge_color}};">
          <p>{{review.rating}}</p>
        </div>
        <p>{{review.date}}</p>
        <h2>{{review.title}}</h2>
        <p class="review-card-location">{{review.location}}</p>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock content %}
