{% extends "base.html" %}

{% block content %}
<div class="review-img-container">
  <img src="{{review.img_url}}" alt="Cannoli" style="width: 646px; max-width: 100%;">
  <div class="rating-badge" style="background-color: {{review.badge_color}};">
    <p style="display: block;">{{review.rating}}</p>
  </div>
</div>
<div class="review-body-container">
  <p>{{review.date}}</p>
  <h1>{{review.title}}</h1>
  <p>{{review.location}}</p>
  <p>{{review.summary}}</p>
  <p><strong>What we liked:</strong> {{review.liked}}</p>
  <p><strong>What could be better:</strong> {{review.disliked}}</p>
  <p><strong>{{review.rating}}</strong> 🤌</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>.</p>
  <p>
    {% for tag in review.tags %}
      <span>#{{tag}} </span>
    {% endfor %}
  </p>
</div>

{% endblock content%}
