{% extends "base.html" %}

{% block content %}
<div class="review-img-container">
  <img src="{{review.img_url}}" alt="Cannoli" style="width: 646px; max-width: 100%;">
  <div class="rating-badge" style="background-color: {{review.badge_color}};">
    <p>{{review.rating}}</p>
  </div>
</div>
<div class="review-body-container">
  <div class="review-body-header">
    <p>{{review.date}}</p>
    <h1>{{review.title}}</h1>
    {% if review.link %}
      <p><a href="{{review.link}}" target="_blank"><i>View on Google Maps</i></a></p>
    {% endif %}
    <p class="reivew-body-location">{{review.location}}</p>
  </div>
  <div class="review-body">
    <p>{{review.summary}}</p>
    <p><strong>What we liked:</strong> {{review.liked}}</p>
    <p><strong>What could be better:</strong> {{review.disliked}}</p>
    <p><strong>{{review.rating}}</strong> 🤌</p>
  </div>
</div>

{% endblock content%}
